
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common fonts  and other utilities*/
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(216, 214, 214);
}
.container{
     background-color: white;
     width: 870px;
     padding: 30px;
}
.top-players{
     margin-bottom: 30px;
}
main{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
/* top players style  */
.players{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-row-gap: 30px ;
}
.section-title{
     color: blueviolet;
     font-size: 24px;
     margin-top: 0px;
}
/* h3 and image style */
.player{
     display:flex;
     align-items: center;
}
.between{
     margin-left: 16px;
     font-size: 18px;
}

.player img{
     width: 56px;
     height: 56px;
}
hr{
     border: 1px solid rgba(8, 156, 255, 0.596);
     margin-bottom: 12px;
}
/*--------------------- \
top blogs styles  
\-----------------------*/
.blogs{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-row-gap: 26px;
}
.blog .thumbnail img{
     width: 177px;
     height: 117px;
}
.blog{
     display: flex;
}
.blog-info{
     margin-left: 16px;
}
.blog-title{
     font-size: 20px;
}
.blog-author{
     font-size: 16px;
     color: chartreuse;
}
.blog-author a{
     text-decoration: none;
     color: cyan;
     font-size: 18px;
}
/* courses styles */
.courses{
      display: grid;
      grid-template-columns: repeat(3,1fr);
}
.course .course-banner img{
     
    width: 224px;
    height: 104px;
}
.filled{
      color: rgb(253, 68, 0);
}
.empty{
      color: rgb(126, 119, 119);
}
.course-info{
      display: flex;
      align-items: center;
      justify-content: space-between;
}
.fa-star{
      font-size: 14px;
}
/* media quries
 */
 /*---------------------

  Mobile phones and my dream lets do it together
  --------------------- */
  @media only screen and ( max-width:688px) {
       .container{
             width: 100%;
       }
       .players , .blogs, .courses{
            /* background-color: green; */
            grid-template-columns: repeat(1, 1fr);
       }
       .player, .blog{
             flex-direction: column;
             /* align-items: center; */
       }
     }
     
     /* tablets only  */
     @media only screen and ( min-width:689px) and ( max-width:992px){
          .container{
                width: 100%;
          }
          .players{
                /* background-color: lightseagreen; */
                grid-template-columns: repeat(2, 1fr);
          }
          
     }
       
       
       
  
